/* .contenedor-principal{
    font-family: sans-serif;
    width: 730px;
    height: 540px;
    margin:  auto;
    border-radius: 3px;
    padding: 60px;
    background-color: rgb(243, 240, 240);
    box-shadow: -1px 2px 39px 14px rgba(192, 188, 188, 0.61);
    -webkit-box-shadow: -1px 2px 39px 14px rgba(201, 197, 197, 0.61);
    -moz-box-shadow: -1px 2px 39px 14px rgba(228, 223, 223, 0.61);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    


    
}

.contenedor-formulario{
    width: 610px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.contenedor-principal h5{
    margin-bottom: 50px;
    font-size: 20px;
    
    color: #111111;
}

.contenedor-formulario label{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #586870;
}

.contenedor-formulario textarea{
    padding: 3px, 8px, 3px, 16px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
}

.contenedor-formulario input{
    height: 35px;
    margin-bottom: 20px;
    padding: 3px, 8px, 3px, 16px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
}

.input-text, .text-textarea{
    padding: 10px 10px;
}






/* Boton */

.contacto img{
    margin-top: 20px;
    width: 100%;
    height: 280px;

}

.contenedorprincipal{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
 .contenedor1{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    background-color: #37b85d;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
    
 }

 
h2{
   
    color: black;
}
.contenedorprincipal h3{
    color: white;
    font-size: 25px;
   
}
h4{
    color: black;
}
.wsp{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: black;
    
    
    

    font-size: 80px;
}
.contenedor6{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    background-color: #f09433;
    text-align: center;
    gap: 20px;
    text-decoration: none;
    text-decoration-line: none;
    border-radius: 10px;
 }

 .contenedorprincipal :hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    transform: scale(0.99);
    filter: brightness(105%);
} 
 
 .instagram{
     display: flex;
     font-size: 80px;
     color: black;
     justify-content: center;
     margin-top: 20px;
     text-align: center;
     text-decoration: none;
 }
 
 .contenedor7{
     display: flex;
     flex-direction: column;
     width: 350px;
     height: 300px;
     background-color: rgb(219, 71, 71);
     text-align: center;
     gap: 20px;
     border-radius: 10px;
    }
    
    .gmail{
        display: flex;
        justify-content: center;
        font-size: 80px;
        margin-top: 20px;
        color: black;
        
        
    }

    a{
        text-decoration: none;
    }


    @media only screen and (max-width: 1000px){

.contenedorprincipal{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.contenedorprincipal h3{
    color: white;
    font-size: 18px;
   
}

.contacto img{
    margin-top: 20px;
    width: 100%;
    height: 170px;

}

.contenedor7{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: rgb(219, 71, 71);
    text-align: center;
    gap: 20px;
    border-radius: 10px;

   }
   .contenedor1{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #37b85d;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
 
    
 }


 .contenedor6{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #f09433;
    text-align: center;
    gap: 20px;
    text-decoration: none;
    text-decoration-line: none;
    border-radius: 10px;

 }
    }